/*********************************************

Haiku Generator ++
Coded by: Chip Limeburner

**********************************************/


body {
  background-color: #abcbab;
}

h1 {
    text-align: center;
    margin-top: 100px;
}

.haiku-line {
  text-align: center;
}

#haiku {
  font-family: Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: bold;
}
