/*********************************************

Here is a description of any special CSS used.
By default that's nothing.

**********************************************/


body {
  background-color: #abcbab;
}

h1 {
    text-align: center;
}

.haiku-line {
  text-align: center;
}

#haiku {
  font-family: Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: bold;
}
