html {
  margin: 0px;
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
  overflow: hidden;
}

h3 {
  padding: 20px;
  margin: 0px;
  float: left;
}

.toolbar-section {
  width: 90%;
  height: 50px;
  margin: auto;
  background-color: lightblue;
  margin-top: 10px;
  margin-bottom: 10px;
}

.layer-tab {
  width: 98%;
  height: 60px;
  background-color: lightgray;
  margin: auto;
  margin-top: 2px;
  margin-bottom: 0px;
}

.up-button {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: lightblue;
}

.down-button {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: lightpink;
  float: right;
}

#toolbar {
  height: 60%;
  overflow-y: scroll;
}

#layer-list {
  position: relative;
  bottom: 0;
  background-color: darkgray;
  height: 40%;
  width: 100%;
  overflow-y: scroll;
}

#viewport-pane {
  height: 100%;
  width: auto;
  background-color: #1a1a1a;

}

#editor-pane {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: lightyellow;
}

#new-layer-button {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: lightgreen;
  width: 50px;
  height: 50px;
  z-index: 100;
}

[id*="current-layer-tab"] {
  background-color: white;
}
